#Stages -> Jobs -> Steps -> Tasks
stages:
  - stage: preparing
    jobs:
      - job: install_Docker
        steps:
          - script: echo "-------------------install Docker-----------------"
          - task: DockerInstaller@0
            inputs:
              dockerVersion: '17.09.0-ce'
              releaseType: 'stable'
          - script: docker --version
  - stage: build
    jobs:
      - job: getlatest
        steps:
          - script: echo "Hello!"
          - script: echo "Hello2!"
      - job: build
  - stage: test
    jobs:
      - job: test
        steps:
          - script: echo "Start test"
          - script: sleep 10
      - job: postest
  - stage: artifact
    jobs:
      - job: create_artifact
        steps:
          - script: zip artifact testfile.txt
          - task: S3Upload@1
            inputs:
              awsCredentials: 'aws_s3_access'
              regionName: 'eu-central-1'
              bucketName: 'azure-devops-s3'
              globExpressions: 'artifact.zip'
              targetFolder: '\artifacts'
              keyManagement: 'awsManaged'
              encryptionAlgorithm: 'AES256'